<launch>
  <param name="dynamixel_info" value="$(find dynamixel_hardware)/config/dynamixel_configs.yaml"/>
  
  <node name="test" pkg="dynamixel_hardware" type="test_node"
        required="true" output="screen" args="joint1
                                             joint2
                                             joint3
                                             joint4
                                             joint5
                                             joint6
                                             joint7">

    <rosparam command="load" file="$(find dynamixel_hardware)/config/dynamixel_configs.yaml"/>
  </node>
</launch>
